GEMINI_API_KEY=your_gemini_api_key_here
SPREADSHEET_ID=your_google_spreadsheet_id_here
SHEET_RECORDING=Recording
SHEET_KAMBING=Kambing
SHEET_PETERNAK=Peternak

WA_ACCESS_TOKEN=your_wa_access_token
WA_PHONE_NUMBER_ID=your_wa_phone_number_id
WA_VERIFY_TOKEN=your_wa_verify_token

DB_PASSWORD=your_db_password
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"